<div class="navbar bg-base-300 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <!-- Menu mobile -->
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        @for (item of menuItems; track item.label) {
        @if (!item.children) {
        <li>
          <a [routerLink]="item.link">{{ item.label }}</a>
        </li>
        } @else {
        <li>
          <a>{{ item.label }}</a>
          <ul class="p-2">
            @for (child of item.children; track child.label) {
            <li>
              <a [routerLink]="child.link">{{ child.label }}</a>
            </li>
            }
          </ul>
        </li>
        }
        }
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" routerLink="/">daisyUI</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <!-- Menu desktop -->
    <ul class="menu menu-horizontal px-1">
      @for (item of menuItems; track item.label) {
      @if (!item.children) {
      <li>
        <a [routerLink]="item.link">{{ item.label }}</a>
      </li>
      } @else {
      <li>
        <details>
          <summary>{{ item.label }}</summary>
          <ul class="p-2">
            @for (child of item.children; track child.label) {
            <li>
              <a [routerLink]="child.link">{{ child.label }}</a>
            </li>
            }
          </ul>
        </details>
      </li>
      }
      }
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn" routerLink="/login">Se connecter</a>
  </div>
</div>