<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="UserName" placeholder="Username" class="input input-bordered">

  <!--@if(formControl['email'].invalid && formControl['email'].touched){
  <p>Le champ email est obligatoire et doit contenir une adresse email valide</p>
  }
-->

  @if(formControl['UserName'].errors?.['required'] && formControl['UserName'].touched){
  <p>{{errorMessages.UserName[0].message}}</p>


  }@if(formControl['UserName'].errors?.['UserName'] && formControl['UserName'].touched){
  <p>{{errorMessages.UserName[1].message}}</p> }

  <input type="Password" formControlName="Password" placeholder="Mot de passe" class="input input-bordered">
  @if(formControl['Password'].errors?.['required'] && formControl['Password'].touched){
  <p>{{errorMessages.Password[0].message}}</p>

  }@if(formControl['Password'].errors?.['minLength'] && formControl['Password'].touched){
  <p>{{errorMessages.Password[1].message}}</p> }

  <button class="btn" [disabled]="loginForm.invalid">Se connecter</button>
</form>